<style>
.v-app-bar__extension {
  padding: 0px !important;
}
</style>

<template>
  <v-app id="speakers">
    <v-app-bar app color="primary" dark dense collapse-on-scroll extension-height="0">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Speaker Control</v-toolbar-title>

      <Loading :loading="lcLoading" color="secondary accent-4" slot="extension" />
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">Speaker Control</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav>
        <v-list-item v-for="item in items" :key="item.text" link @click="saveView(item.text)">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list>
        <v-list-group>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Options</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item-group>
            <v-list-item>
              <v-list-item-action>
                <v-checkbox v-model="settings" color="primary"></v-checkbox>
              </v-list-item-action>
              <v-list-item-content @click="settings = !settings">
                <v-list-item-title>Show Settings</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="reloadView">
              <v-list-item-title>Reload Content</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container v-if="lcLoaded" class="fill-height" fluid>
        <v-row align="center" justify="center" v-show="ampsEnabled">
          <v-col cols="12" sm="12" md="11" lg="11" xl="11">
            <v-card shaped>
              <v-card-title>Amplifier</v-card-title>
              <v-card-text>
                <template v-for="amp in amps">
                  <Amp :key="amp" :amp="amp" />
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row align="center" justify="center" v-show="groupsEnabled">
          <v-col cols="12" sm="12" md="11" lg="11" xl="11">
            <v-card shaped>
              <v-card-title>Groups</v-card-title>
              <v-card-text>
                <template v-for="group in groups">
                  <Group :key="group.value" :group="group.value" :name="group.text" />
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <v-row align="center" justify="center" v-show="zonesEnabled">
          <v-col cols="12" sm="12" md="11" lg="11" xl="11">
            <v-card shaped>
              <v-card-title>Speakers</v-card-title>
              <v-card-text>
                <template v-for="(zone, index) in zones">
                  <Zone :key="index" :zone="zone" />
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import ENUM from "./enums.js";
import Amp from "./Amp.vue";
import Group from "./Group.vue";
import Zone from "./Zone.vue";
import Loading from "./Loading.vue";

export default {
  name: "App",
  components: { Loading, Amp, Group, Zone },
  data() {
    return {
      drawer: false,
      section: "All",
      items: [
        { icon: "mdi-server", text: "All" },
        { icon: "mdi-volume-high", text: "Amps" },
        { icon: "mdi-cube-outline", text: "Groups" },
        { icon: "mdi-speaker", text: "Speakers" }
      ]
    };
  },
  created() {
    document.title = "Speaker Control";
  },
  async mounted() {
    if (localStorage.section) {
      this.section = localStorage.section;
    }
    await this.$store.dispatch("load");
  },
  computed: {
    ...mapState({
      zones: state => state.layout.zones,
      groups: state => state.layout.groups,
      lifecycle: state => state.lifecycle
    }),
    settings: {
      get() {
        return this.$store.getters.getShowSettings;
      },
      set(val) {
        this.$store.dispatch("setShowSettings", val);
      }
    },
    amps() {
      return this.$store.getters.getAmps;
    },
    lcLoaded() {
      return this.lifecycle === ENUM.LOADED;
    },
    lcLoading() {
      return this.lifecycle === ENUM.LOADING || this.lifecycle === ENUM.INIT;
    },
    lcError() {
      return this.lifecycle === ENUM.ERROR;
    },
    ampsEnabled() {
      return this.section == "All" || this.section == "Amps";
    },
    groupsEnabled() {
      return this.section == "All" || this.section == "Groups";
    },
    zonesEnabled() {
      return this.section == "All" || this.section == "Speakers";
    }
  },
  methods: {
    saveView(name) {
      this.section = name;
      localStorage.section = this.section;
    },
    reloadView() {
      this.$store.dispatch("reloadZones");
    }
  }
};
</script>
