<template>
  <div>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="12" lg="6" xl="6">
        <p class="headline text--primary">{{name}}</p>
      </v-col>
      <v-col cols="12" sm="12" md="6" lg="2" xl="2">
        <v-switch
          v-model="power"
          true-value="01"
          false-value="00"
          :label="`Power`"
          prepend-icon="mdi-power"
          @click:prepend="power = power == '01' ? '00' : '01'"
        ></v-switch>
      </v-col>
      <v-col cols="12" sm="12" md="6" lg="2" xl="2">
        <v-switch
          v-model="mute"
          :disabled="disabled"
          true-value="01"
          false-value="00"
          :label="`Mute`"
          prepend-icon="mdi-volume-off"
          @click:prepend="mute = mute == '01' ? '00' : '01'"
        ></v-switch>
      </v-col>
    </v-row>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" md="10" lg="8" xl="8">
        <v-select
          v-model="source"
          :disabled="disabled"
          :items="sources"
          label="Source"
          append-icon="mdi-source-fork"
          solo
        ></v-select>
        <v-slider
          v-model="volume"
          append-icon="mdi-volume-high"
          prepend-icon="mdi-volume-low"
          :color="sameVolume ? 'primary' : 'secondary'"
          @click:prepend="volume -= volume > 0 ? 1 : 0"
          @click:append="volume += volume < 38 ? 1 : 0"
          :min="0"
          :max="38"
          :disabled="disabled"
          thumb-label
          ticks
        ></v-slider>
      </v-col>
    </v-row>
    <v-row v-if="showSettings">
      <v-spacer></v-spacer>
      <v-col cols="12" sm="12" md="10" lg="8" xl="8">
        <v-expansion-panels accordion>
          <v-expansion-panel>
            <v-expansion-panel-header>Settings</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-slider
                v-model="balance"
                append-icon="mdi-arrow-right-bold"
                prepend-icon="mdi-arrow-left-bold"
                @click:prepend="balance -= balance > 0 ? 1 : 0"
                @click:append="balance += balance < 20 ? 1 : 0"
                :color="sameBalance ? 'primary' : 'secondary'"
                :min="0"
                :max="20"
                :disabled="disabled"
                thumb-label
                ticks
              ></v-slider>
              <v-slider
                v-model="treble"
                append-icon="mdi-microphone-variant"
                prepend-icon="mdi-microphone-variant-off"
                @click:prepend="treble -= treble > 0 ? 1 : 0"
                @click:append="treble += treble < 14 ? 1 : 0"
                :color="sameTreble ? 'primary' : 'secondary'"
                :min="0"
                :max="14"
                :disabled="disabled"
                thumb-label
                ticks
              ></v-slider>
              <v-slider
                v-model="bass"
                append-icon="mdi-checkbox-blank-circle"
                prepend-icon="mdi-checkbox-blank-circle-outline"
                @click:prepend="bass -= bass > 0 ? 1 : 0"
                @click:append="bass += bass < 14 ? 1 : 0"
                :color="sameBass ? 'primary' : 'secondary'"
                :min="0"
                :max="14"
                :disabled="disabled"
                thumb-label
                ticks
              ></v-slider>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </div>
</template>

<script>
import _ from "lodash";
import { mapState } from "vuex";

export default {
  name: "Group",
  props: ["group", "name"],
  data() {
    return {
      power: "00",
      mute: "00",
      volume: 0,
      balance: 0,
      treble: 0,
      bass: 0,
      source: "01",
      lock: false,
      members: null
    };
  },
  created() {
    this.checkMembers();
  },
  computed: {
    ...mapState({
      lifecycle: state => state.lifecycle
    }),
    disabled() {
      return this.power == "00";
    },
    status() {
      if (this.members) {
        return this.$store.getters.getZonesByGroup(this.group);
      } else {
        return [];
      }
    },
    powerState() {
      var init = this.status.length > 0 ? this.status[0].power : "00";
      return this.status.reduce(
        (state, val) => (val.power == "01" ? "01" : state),
        init
      );
    },
    muteState() {
      var init = this.status.length > 0 ? this.status[0].mute : "01";
      return this.status.reduce(
        (state, val) => (val.mute == "00" ? "00" : state),
        init
      );
    },
    volumeState() {
      var init = this.status.length > 0 ? this.status[0].volume : 0;
      return this.status.reduce(
        (state, val) => Math.max(state, val.volume),
        init
      );
    },
    sameVolume() {
      var init = this.status.length > 0 ? this.status[0].volume : 0;
      return this.status.every(val => val.volume == init);
    },
    balanceState() {
      var init = this.status.length > 0 ? this.status[0].balance : 0;
      return this.status.reduce(
        (state, val) => Math.max(state, val.balance),
        init
      );
    },
    sameBalance() {
      var init = this.status.length > 0 ? this.status[0].balance : 0;
      return this.status.every(val => val.balance == init);
    },
    trebleState() {
      var init = this.status.length > 0 ? this.status[0].treble : 0;
      return this.status.reduce(
        (state, val) => Math.max(state, val.treble),
        init
      );
    },
    sameTreble() {
      var init = this.status.length > 0 ? this.status[0].treble : 0;
      return this.status.every(val => val.treble == init);
    },
    bassState() {
      var init = this.status.length > 0 ? this.status[0].bass : 0;
      return this.status.reduce(
        (state, val) => Math.max(state, val.bass),
        init
      );
    },
    sameBass() {
      var init = this.status.length > 0 ? this.status[0].bass : 0;
      return this.status.every(val => val.bass == init);
    },
    sourceState() {
      var init = this.status.length > 0 ? this.status[0].source : "01";
      return this.status.reduce(
        (state, val) => (val.source == state ? val.source : null),
        init
      );
    },
    sameSource() {
      var init = this.status.length > 0 ? this.status[0].source : 0;
      return this.status.every(val => val.source == init);
    },
    sources() {
      return this.$store.getters.getSources;
    },
    showSettings() {
      return this.$store.getters.getShowSettings;
    }
  },
  watch: {
    powerState(val) {
      if (this.power != val) {
        this.lock = true;
        this.power = val;
      }
    },
    muteState(val) {
      if (this.mute != val) {
        this.lock = true;
        this.mute = val;
      }
    },
    volumeState(val) {
      if (this.volume != val) {
        this.lock = true;
        this.volume = val;
      }
    },
    balanceState(val) {
      if (this.balance != val) {
        this.lock = true;
        this.balance = val;
      }
    },
    trebleState(val) {
      if (this.treble != val) {
        this.lock = true;
        this.treble = val;
      }
    },
    bassState(val) {
      if (this.bass != val) {
        this.lock = true;
        this.bass = val;
      }
    },
    sourceState(val) {
      if (this.source != val) {
        this.lock = true;
        this.source = val;
      }
    }
  },
  methods: {
    watchValue(name, debounce = true) {
      const cb = async function(newVal, oldVal) {
        if (this.lock) {
          this.lock = false;
          return;
        }
        if (newVal != oldVal) {
          var memberZones = this.members.join(",");
          console.log(
            `[${this.group}:${memberZones}] ${name}: ${oldVal} -> ${newVal}`
          );
          await this.$store.dispatch("setting", {
            group: this.members.length > 1,
            setting: name,
            zone: memberZones,
            value: newVal
          });
        }
      };
      return debounce ? _.debounce(cb, 300) : cb;
    },
    checkMembers() {
      if (this.$store.state.groups[this.group]) {
        this.setUpWatchers(this.$store.state.groups[this.group]);
      } else {
        setTimeout(() => this.checkMembers(), 500);
      }
    },
    setUpWatchers(m) {
      this.members = m;
      console.log("Loaded Group: " + this.group + " members: " + m);
      this.power = this.powerState;
      this.$watch("power", this.watchValue("power", false));
      this.mute = this.muteState;
      this.$watch("mute", this.watchValue("mute", false));

      this.source = this.sourceState;
      this.$watch("source", this.watchValue("source", false));

      this.volume = this.volumeState;
      this.$watch("volume", this.watchValue("volume"));
      this.balance = this.balanceState;
      this.$watch("balance", this.watchValue("balance"));
      this.treble = this.trebleState;
      this.$watch("treble", this.watchValue("treble"));
      this.bass = this.bassState;
      this.$watch("bass", this.watchValue("bass"));
    }
  }
};
</script>